body{
    color: black;
    background-color: yellow;
    font-family: "Chakra Petch", sans-serif;
}
header{
border-bottom:solid 2px rgb(42,122,228);
margin:20px ;
font-size: 60px;
}
img{
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

