body{
    color: black;
    background-color: yellow;
    margin: 0px; 
}
header{
border-bottom:solid 2px rgb(42,122,228);
margin:20px ;
font-size: 60px;
}
img{
    height: 200px;
}
.categoria-Vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

